.button {
    background: linear-gradient(90deg, #d2b48c, #8b4513);
    border: none;
    color: white;
    padding: 1.5rem 3.6rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(0.6vw + 1rem);
    transition: all 0.4s ease;
    cursor: pointer;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.button::before {
    content: "";
    background: linear-gradient(90deg, #729a61, #2e5339);
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    z-index: -1;
}

.button:hover::before {
    left: 0;
}

.button:hover {
    color: #fff;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
