.contactBanner_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .contactBanner {
        width: 100%;
        .contactBanner_detail_container {
            max-width: 1700px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 3vw;
            .contactBanner_title {
                font-size: calc(1vw + 2rem);
                font-family: var(--font-title);
                font-weight: 500;
                text-align: center;
                padding: 2.5rem 0 1rem 0;
                color: rgb(255, 255, 255);
                z-index: 2;
            }
            .contactBanner_text {
                font-size: calc(1vw + 1rem);
                font-family: var(--font-text);
                padding: 1rem 0 4rem 0;
                z-index: 2;
                color: #ffffff;
            }
            .button {
                font-size: calc(0.8rem + 0.5vw);
                font-family: var(--font-title);
                background: linear-gradient(90deg, #5b7f8c, #0d447a);
            }
            .button::before {
                background: linear-gradient(90deg, #13579b, #030350);
            }
        }
    }
    .whitefade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #404b5c;
        z-index: 1;
    }
}
