.aboutMe_container {
    background-color: #ffffff;
    .aboutMe {
        max-width: 1700px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        padding: 1.5rem 1rem;

        .aboutMe_presentation {
            width: 50%;
            .presentation_name {
                width: 100%;
                font-size: calc(3.5rem + 1vw);
                font-weight: 500;
                color: #000;
                margin-bottom: 1rem;
                white-space: nowrap;
                padding: 3rem 2rem;
            }
            .presentation_paragraph {
                width: 100%;
                font-size: calc(2rem + 0.5vw);
                font-weight: 200;
                color: #000;
                margin-bottom: 1rem;
                padding: 2rem;
            }
        }
        .aboutMe_illustration {
            width: 50%;
            margin: auto;
            padding: 2rem;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .aboutMe_container {
        .aboutMe {
            flex-direction: column;
            .aboutMe_presentation {
                width: 100%;
                .presentation_name {
                    padding: 1rem;
                }
                .presentation_paragraph {
                    padding: 1rem;
                }
            }
        }
    }
}
