.services_container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
    .title {
        font-size: 2vw;
        font-weight: 700;
        margin-bottom: 6rem;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 50%;
        .services_box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            flex: 1 1 calc(50% - 20px);
            padding: 2rem;
            box-shadow: 0 0 10px 0 rgb(46, 83, 57, 0.3);

            .services_logo {
                padding: 1rem;
                width: 20%;
            }
            .services_title {
                font-size: 1.3vw;
                font-weight: 700;
                white-space: nowrap;
            }
            .services_text {
                font-size: 0.8vw;
                text-align: center;
                margin: 1rem 0;
            }
        }
        .services_box:hover {
            background-color: #2e5339;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
            transition: ease 0.5s;
            .services_title,
            .services_text {
                color: white;
            }
            .services_logo {
                background-color: white;
                border-radius: 15px 0 15px 0;
            }
        }

        .topLeft {
            border-radius: 20px 0 20px 0px;
        }
        .topRight {
            border-radius: 0 20px 0px 20px;
        }
        .bottomLeft {
            border-radius: 0px 20px 0px 20px;
        }
        .bottomRight {
            border-radius: 20px 0px 20px 0px;
        }

        .topLeft:hover {
            transform: translateX(-10px) translateY(-10px);
        }
        .topRight:hover {
            transform: translateX(10px) translateY(-10px);
        }
        .bottomLeft:hover {
            transform: translateX(-10px) translateY(10px);
        }
        .bottomRight:hover {
            transform: translateX(10px) translateY(10px);
        }
    }
}
