.home {
    position: absolute;
    top: -20%;
    z-index: 1;
    .picture_container {
        width: 100%;
        height: 100%;
        .homePicture {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .title_container {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        .title {
            font-size: 12rem;
            font-weight: 700;
            text-align: center;
            text-shadow: 0 0 3rem rgba(0, 0, 0, 0.398);
        }
        .subTitle {
            font-size: 6rem;
            font-weight: 500;
            text-align: center;
            text-shadow: 0 0 1rem rgba(0, 0, 0, 0.398);
            margin: 3rem 0;
        }
        .description {
            font-size: 3rem;
            font-weight: 200;
            text-align: center;
            text-shadow: 0 0 1rem rgba(0, 0, 0, 0.398);
        }
        .spanColor {
            color: #2e5339;
        }
    }
    .wave_container {
        position: relative;
        z-index: 2;
        .wave {
            background: rgb(255, 255, 255);
            border-radius: 1000% 1000% 0% 0%;
            position: fixed;
            width: 200%;
            height: 12em;
            animation: wave 5s -1.5s linear infinite;
            transform: translate3d(0, 0, 0);
            opacity: 0.6;
            bottom: 5rem;
            left: 0;
            z-index: -1;
        }

        .wave:nth-of-type(2) {
            bottom: 4.25rem;
            animation: wave 9s linear reverse infinite;
            opacity: 0.5;
        }

        .wave:nth-of-type(3) {
            bottom: 1.5rem;
            animation: wave 10s -0.5s reverse infinite;
            opacity: 1;
        }
    }
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}
