@import "../../_vars.css";

.home_container {
    background-color: var(--home-container);
    .home {
        max-width: 1700px;
        width: 100%;

        margin: 0rem auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 38rem 1rem 0 1rem;
        gap: 3rem;
        .home_presentation {
            width: 50%;

            .presentation_name {
                font-size: calc(3.5rem + 2vw);
                font-family: var(--font-title);
                font-weight: 500;
                color: #000;
                margin-bottom: 1rem;
                padding: 2rem 0rem 3rem 2rem;
            }
            .presentation_paragraph {
                width: 100%;
                font-size: calc(1.5rem + 0.5vw);
                font-family: var(--font-text);
                font-weight: 200;
                color: #000;
                margin-bottom: 1rem;
                padding: 2rem 0 2rem 2rem;
                line-height: 4rem;
            }
            .button {
                font-size: calc(1.2rem + 0.5vw);
                font-family: var(--font-title);
                margin: 0 1rem;
            }
        }
        .home_illustration {
            width: 50%;
            margin: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .home_scroller {
        display: flex;
        justify-content: center;
        padding: 4rem 0 0 0;
        width: 100%;
        height: 30rem;
        .arrow_picture {
            width: 5%;
            height: 30rem;
            border-radius: 30px;
            .picture {
                animation: goDown 3s ease-in-out infinite;
            }
        }
    }
}

@keyframes goDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5rem);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (orientation: portrait) and (max-width: 1280px) {
    .home {
        padding: 25rem 1rem 0 1rem !important;

        .home_presentation {
            .presentation_name {
                font-size: calc(2.8rem + 1vw) !important;
                padding-bottom: 0 !important;
            }
            .presentation_paragraph {
                font-size: calc(1rem + 0.5vw) !important;
                line-height: 3rem !important;
            }
            .button {
                font-size: calc(1rem + 0.5vw);
            }
        }
    }
}
@media screen and (orientation: landscape) and (max-width: 1800px) {
    .home {
        padding: 14rem 1rem 0 1rem !important;
    }
}
@media screen and (orientation: landscape) and (min-width: 3000px) {
    .home {
        max-width: 2500px !important;
        padding: 14rem 1rem 0 1rem !important;
    }
}

@media screen and (orientation: portrait) and (max-width: 860px) {
    .home_container {
        .home {
            padding: 10rem 1rem 0 1rem !important;
            flex-direction: column;
            .home_presentation {
                width: 100%;

                .presentation_name {
                    font-size: calc(3.5rem + 2vw) !important;
                    padding: 1rem;
                }

                .presentation_paragraph {
                    font-size: calc(1.5rem + 0.5vw) !important;

                    padding: 1rem;
                }

                .button {
                    margin: 1rem 0;
                    font-size: calc(1.2rem + 0.5vw) !important;
                }
            }
            .home_illustration {
                width: 100%;
                margin: 0;
                img {
                    width: 80%;
                    height: auto;
                }
            }
        }
        .home_scroller {
            padding: 4rem 0 0 0;
            .arrow_picture {
                width: 10%;
                height: 15rem;
            }
        }
    }
}

@media screen and (orientation: portrait) and (max-width: 444px) {
    .home_container {
        .home {
            padding: 18rem 1rem 0 1rem;

            .home_presentation {
                .presentation_name {
                    font-size: calc(2.4rem + 2vw) !important;
                }
                .presentation_paragraph {
                    font-size: calc(1.5rem + 0.5vw) !important;
                    line-height: 2.5rem !important;
                }
                .button {
                    font-size: calc(1rem + 0.5vw);
                    padding: 1.2rem;
                }
            }
        }
    }
}
