.form_global {
    .contact_container {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        .contact_title {
            font-size: calc(1vw + 2rem);
            font-weight: 700;
        }
        .contact_message {
            font-size: calc(1vw + 0.7rem);
            text-align: center;
        }
        .contact {
            display: flex;
            flex-direction: row;
            align-items: center;
            .form_container {
                width: 50%;
                display: flex;
                flex-direction: column;
                margin: 0 2rem;
                padding: 2rem 5rem;
                border-radius: 0 20px 0 20px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
                .contact_form {
                    .firstSection {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .field {
                            width: 45%;
                        }
                    }
                    .field {
                        label {
                            font-size: calc(0.5vw + 0.6rem);
                            font-weight: 500;
                            padding: 0.5rem 0;
                        }
                        input {
                            font-size: calc(0.4vw + 0.8rem);
                            margin: 0.5rem 0;
                        }
                    }
                    .textarea_container {
                        .field {
                            label {
                                font-size: calc(0.5vw + 0.6rem);
                                font-weight: 500;
                                padding: 0.5rem 0;
                            }
                            textarea {
                                font-size: calc(0.4vw + 0.8rem);
                                margin: 0.5rem 0;
                            }
                        }
                        .textarea_object {
                            max-height: 100px;
                        }
                        .textarea_message {
                            max-height: 500px;
                        }
                        .requiredLegend {
                            font-size: 1rem;
                            color: red;
                        }
                    }
                }
                .requiredField {
                    position: absolute;
                    color: red;
                    font-size: 1.2rem;
                }
            }
            .contact-detail {
                width: 50%;
                border: 1px solid black;
                padding: 1rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background-color: #2e5339;
                color: white;
                border-radius: 20px 0 20px 0;
                margin: 2rem 0;
                .detail {
                    margin: 1rem 0;
                    .detail_title {
                        font-size: calc(0.5vw + 1rem);
                        text-decoration: underline;
                        text-underline-offset: 0.2rem;
                        padding: 1rem 0;
                    }
                    .detail_text {
                        font-size: calc(0.5vw + 0.7rem);
                        line-height: 2.4rem;
                        .mailto {
                            color: white;
                            text-decoration: none;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    .detail_logo {
                        width: 100%;
                        display: flex;
                        gap: 5%;

                        .detail_link {
                            width: 10%;
                        }
                    }
                }
            }
        }
        .button_container {
            margin: 2rem 0;
        }
    }
}

.modal_contact {
    width: 50%;
    height: 17%;
    .header_modal_contact {
        width: 100%;
        height: 22%;
    }
    .content_modal_contact {
        width: 100%;
        height: 80%;
        .textModal {
            font-size: 1.5rem;
            width: 100%;
            padding: 0 1rem;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media screen and (max-width: 1024px) {
    .contact {
        flex-direction: column !important;
        .form_container {
            width: 100% !important;
            margin: 0;
            .contact_form {
                .firstSection {
                    flex-direction: column;
                    .field {
                        width: 100%;
                    }
                }
            }
        }
        .contact-detail {
            width: 100% !important;
            margin: 2rem 0;
            justify-content: center;
            align-items: center;
            .detail {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .detail_text {
                    font-size: calc(0.5vw + 0.9rem) !important;
                }
                .detail_logo {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 5%;
                    .detail_link {
                        width: 70% !important;
                    }
                }
            }
        }
    }
}
