.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    .logo_container {
        width: 5%;
        height: 5%;
        margin: 1rem 30rem 1rem 0;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .navBar_items_container {
            .navBar_items {
                margin: 0 3rem;
                font-size: 1vw;
                white-space: nowrap;

                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
            .borderLine {
                height: 0.2rem;
                background-color: transparent;
                margin-top: 0.5rem;
            }
        }
        .active {
            .navBar_items {
                color: #2e5339;
            }
            .borderLine {
                width: 100%;
                height: 0.2rem;
                background-color: #2e5339;
            }
        }
        .navBar_items_container:hover {
            .navBar_items {
                color: #2e5339;
            }
            .borderLine {
                height: 0.2rem;
                animation: borderLine 0.5s forwards;
                background-color: #2e5339;
            }
        }
    }
}
.scroll {
    background-color: #000;
}

@keyframes borderLine {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
