.FAQs {
    .FAQ_container {
        max-width: 1700px;
        margin: 0 auto;
        width: 100%;
        .FAQ_title {
            margin: 5rem 0 0 0;
            font-family: var(--font-title);
            font-size: calc(2rem + 1vw);
            font-weight: 500;
            color: var(--black);
            text-align: center;
        }
        .FAQ_anwser_title {
            font-size: calc(1rem + 0.5vw);
            font-family: var(--font-title);
            text-align: center;
            padding: 2rem 1rem;
            border-radius: 10px;
        }
        .questions_container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .questions {
                background-color: white;
                border-radius: 10px;
                box-shadow: 0 0 10px 0 #0606c228;
                margin: 1rem auto;
                padding: 1rem;
                width: 75%;
                display: flex;
                flex-direction: column;

                .question_name_container {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    padding: 1rem 0;
                    .left_section_question {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        .double_arrow {
                            width: 3rem;
                        }
                        .question_name {
                            font-size: calc(0.6rem + 0.5vw);
                            font-family: var(--font-title);
                        }
                    }

                    .question_arrow {
                        width: 3rem;
                    }

                    .rotateUp {
                        animation: rotateUp 0.5s forwards;
                    }
                    .rotateDwn {
                        animation: rotateDwn 0.5s forwards;
                    }
                }
                .question_name_container:hover {
                    cursor: pointer;
                }

                .answer {
                    opacity: 0;
                    max-height: 0;
                    overflow: hidden;

                    font-size: calc(0.4rem + 0.5vw);
                    font-family: var(--font-title);
                    margin: 0rem 3rem;
                }
                .visible {
                    opacity: 1;
                    max-height: 1000px;
                    transition: opacity 0.5s ease-in, max-height 2s ease-in;
                }
                .hidden {
                    opacity: 1;
                    max-height: 0;
                    transition: max-height 1s ease-in-out;
                    margin: 0 3rem;
                }
            }
        }
    }
}

@keyframes rotateUp {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes rotateDwn {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-180deg);
    }
}
