.ServicePage {
    width: 100%;
    .servicePage_banner_title {
        background-color: #404b5c;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .service_title {
            color: white;
            font-size: calc(2em + 1vw);
            font-family: var(--font-title);
            margin: 4.5rem 0 1.5rem 0;
            font-weight: 600;
        }
        .tagService {
            color: white;
            font-family: var(--font-title);
            font-size: calc(0.8em + 0.5vw);
            margin-bottom: 2rem;

            font-weight: 400;
        }
        .service_little_description {
            max-width: 1700px;
            color: white;
            text-align: center;
            font-size: calc(1em + 0.5vw);
            font-family: var(--font-text);
            margin: 0 15rem;
            line-height: 3rem;
        }
    }
    .servicePage_content_container {
        max-width: 1700px;
        margin: 10rem auto;
        background-color: #e5f0fb;
        padding: 10rem 8rem;

        .servicePage_content {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            .introduction_title,
            .description_service_title,
            .feature_title,
            .example_title,
            .conclusion_title {
                font-size: calc(2em + 1vw);
                font-family: var(--font-title);
                font-weight: 600;
                margin: 2rem 0;
            }
            .introduction_text,
            .description_service_text,
            .feature_text,
            .example_text,
            .conclusion_text {
                font-size: calc(1.2rem + 0.5vw);
                font-family: var(--font-text);
                font-weight: 300;
                line-height: 3.5rem;
            }

            .item_title {
                font-size: calc(0.5em + 1vw);
                font-family: var(--font-title);
                font-weight: 500;
                margin: 2rem 0 1rem 0;
            }
            .item_text {
                font-size: calc(1.2rem + 0.5vw);
                font-family: var(--font-text);
                font-weight: 300;
                line-height: 3.5rem;
                padding-bottom: 5rem;
            }

            .example_video {
                width: 100%;
            }
        }
    }
}
.promotionnal_banner_container {
    background-color: #e5f0fb;
    .promotionnal_banner {
        max-width: 1700px;
        margin: 5rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .promotionnal_banner_title {
        font-size: calc(2em + 1vw);
        color: black;
        font-family: var(--font-title);
        font-weight: 600;
        padding: 8rem 0 1rem 0;
    }
    .promotionnal_banner_text {
        font-size: calc(1.2rem + 0.5vw);
        font-family: var(--font-text);
        color: black;
        font-weight: 300;
        padding: 1rem 0 2rem 0;
    }
    .button_contact {
        padding: 1rem 0 8rem 0;
        .button {
            font-size: calc(0.8rem + 0.5vw);
            font-family: var(--font-title);
            background: linear-gradient(90deg, #98d2e6, #1e90ff);
        }
    }
}
