.aboutMe {
    background-color: rgba(255, 255, 255, 0.513);
    width: 100%;
    position: relative;

    .aboutMe_container {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
        padding: 1rem 0;
        .aboutMe_title {
            font-size: calc(1vw + 2rem);
            font-weight: 700;
            padding: 3.5rem 0 1rem 0;
            text-align: center;
            color: #3d3136;
        }

        .banner_container {
            display: grid;
            width: 80%;
            gap: 5%;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            margin: 4rem auto;

            .description_container {
                display: flex;
                flex-direction: row;
                align-items: center;
                background-color: #ffff;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.409);
                transition: transform 0.8s ease;

                .logo {
                    margin-left: 1rem;
                }

                .text_container {
                    display: flex;
                    flex-direction: column;

                    .description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: calc(0.7vw + 0.1rem);
                        line-height: 140%;
                        .paragraph {
                            padding: 2rem;
                            span {
                                color: #796160;
                                font-weight: 700;
                            }
                            .spanTitle {
                                font-size: calc(1vw + 0.3rem);
                                color: #3d3136;
                            }
                            span:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .firstDescription {
                border-radius: 30px 0 30px 0;
            }
            .secondDescription {
                border-radius: 0 30px 0 30px;
            }
        }

        .technoTitle {
            font-size: calc(1vw + 1rem);
            margin: 0;
            text-align: center;
            padding: vw 0;
            color: #3d3136;
        }

        .slider {
            width: 80%;
            background-color: #ffff;
            padding: 2rem 0rem;
            margin-bottom: 5rem;
            border-radius: 15px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.409);
            margin: 4rem auto;

            .slide_logo_container {
                position: relative;

                .slide_logo {
                    width: 40%;
                    margin: auto;
                }
            }
            button {
                display: none !important;
            }
        }

        .whiteboard {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(/images/deskBackground.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            z-index: -1;
        }
        .whiteboardMobile {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url(/images/deskBackground.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            z-index: -1;
        }

        .description_container:hover {
            transform: translateY(-15px);
        }

        .aboutMe_container:hover {
            transform: translateY(-15px);
        }
    }
}

@media screen and (max-width: 892px) {
    .aboutMe {
        .banner_container {
            grid-template-columns: none !important;

            .description_container {
                flex-direction: column;
                .text_container {
                    width: 80%;

                    .description {
                        text-align: center;
                    }
                }
            }

            .firstDescription {
                border-radius: 30px 30px 0px 0 !important;
            }
            .secondDescription {
                border-radius: 0 0 30px 30px !important;
            }
        }
        .whiteboard {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-position: center;
        }
    }
}
