.Technologies {
    .technologies_container {
        max-width: 1700px;
        margin: 0 auto;
        width: 100%;
        padding: 0rem 0 5rem 0;

        .technologies_title {
            font-size: calc(1.8rem + 1vw);
            font-family: var(--font-title);
            font-weight: 500;
            text-align: center;
            margin: 8rem 0 2rem 0rem;
        }
        .technologies_subtitle {
            font-size: calc(0.8rem + 0.5vw);
            font-family: var(--font-text);
            text-align: center;
            margin: 0rem 0 5rem 0;
        }
        .technologies_board_container {
            border-radius: 10px;
            width: 60%;
            margin: 0 auto;
            .technologies_context_container {
                .context {
                    font-size: calc(1rem + 0.5vw);
                    font-family: var(--font-text);
                    font-weight: 700;
                    text-align: center;
                    border-radius: 10px;
                    line-height: 2.5rem;

                    margin: 5rem 0 2rem 0;
                    padding: 3rem;
                }
            }

            .technologies_board {
                display: flex;
                flex-direction: row;
                max-height: 60rem;
                .technologies_list_container {
                    overflow: scroll;
                    width: 25rem;
                    border-radius: 10px;
                    .technologies_list {
                        box-shadow: 0 0 10px 0 #0606c228;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;
                        .technologies_list_item {
                            margin: 0.5rem 1rem;
                            padding: 1rem;
                            .technologies_logo {
                                width: 100%;
                                min-width: 2rem;
                            }
                        }
                        .technologies_list_item:hover {
                            background: radial-gradient(
                                circle,
                                #a7d4e3 0%,
                                #1e90ff 100%
                            );

                            border-radius: 10px;
                            cursor: pointer;
                        }
                        .active {
                            background: radial-gradient(
                                circle,
                                #a7d4e3 0%,
                                #1e90ff 100%
                            );
                            border-radius: 10px;
                        }
                    }
                }
            }
        }

        .technologies_description_container {
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 10px 0 #0606c228;
            border-radius: 10px;
            border-bottom: 1px solid #c5c5c58b;

            margin-left: 2rem;
            background-color: white;
            .description_tag {
                font-size: calc(1.2rem + 0.5vw);
                font-family: var(--font-text);
                font-weight: 500;
                text-align: center;
                margin: 0rem auto;
                padding: 2rem 0 2rem 0;
                border-radius: 30px;
            }
            .description_logo_container {
                margin: 3rem auto;
                display: flex;
                justify-content: center;
                .description_logo_dev {
                    max-width: 50%;
                }
            }
            .description_name {
                font-size: calc(1.2rem + 0.5vw);
                font-family: var(--font-text);
                font-weight: 500;
                text-align: center;
                padding: 2rem 0 2rem 0;
                background: linear-gradient(10deg, #a7d4e3, #1e90ff);

                border-radius: 10px 10px 0 0;
            }
            .description_text {
                font-size: calc(0.8rem + 0.5vw);
                font-family: var(--font-text);
                text-align: center;
                padding: 2rem;
            }
            .documentation {
                margin: 0 auto 2rem auto;
                .button {
                    font-size: calc(0.5rem + 0.5vw);
                    padding: 1rem 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .technologies_board {
        max-height: 60rem !important;
        .technologies_list_item {
            padding: 0.7rem !important;
        }
    }
    .technologies_description_container {
        justify-content: space-between;
    }
}
